* {
  box-sizing: border-box;
}

.main-container {
  margin: 20px 30px;
}

.header {
  margin: 30px 0;
}

.month-select {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #2b3f61;
  outline: none;
}

.month-select:hover {
  border: 1px solid red;
}

.income-container {
  margin: 20px 0;
  width: 50%;
}

.input-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.row {
  display: flex;
  justify-content: space-between;
}

.input-headers {

}

/* ul {
  padding-left: 0;
  margin-left: 0;
}

ul li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
} */

.input-name {

}

.remaining-amt {

}