

* {
  box-sizing: border-box;
}

.main-container {
  margin: 20px 30px;
}

.header {
  margin: 20px 0;
  color:  #547391;
}

.month-select {
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #97b4cf;
  outline: none;
  margin-bottom: 10px;
}

.month-select:hover {
  outline: none;
  border: 1px solid rgb(158, 109, 109);
}

.card-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #919396;
  box-shadow: 0 2px 10px rgba(21, 118, 156, 0.3);
  margin: 20px 0;
  width: 60%;
  padding: 40px;
}

.add-item-btn {
  width: 100px;
}

.add-card-btn {
  width: 250px;
  height: 36px;
}

.new-card-input {
  width: 250px;
  height: 35px;
}

.new-card-container {
  width: 500px;
}


/* .add-card-container {
  display: flex;
  flex
} */