.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #bec1c5;
    margin-bottom: 20px;   
}

.input-hdr { 
    border-bottom: 0px solid;
    margin: 0;
}


.mg-btm-20 {
    margin-bottom: 20px;
}
  
.input-col-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
   
.input-box-med {
    border: 0;
}

.input-box-med:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid #a2ccd3;
}
  
.input-box-small {
    border: 0;
    max-width: 60px;
}

.input-box-small:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid #a2ccd3;
    max-width: 60px;
}
  
.align-right {
    text-align: right;
}

.planned-amt-header {
    width: 50px;
    text-align: right;
}